@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
  <link href="./css/StyleSheet.css" rel="stylesheet" />

  <img src="./images/rectangleLogin.png" alt="Rectangle33561181" class="iniciodesesn-administradoresy-coordinadores-rectangle3356"/>

  <div class="iniciodesesn-administradoresy-coordinadores-container">

    <span class="iniciodesesn-administradoresy-coordinadores-text">
      <span>Log In</span>
    </span>
    <span class="iniciodesesn-administradoresy-coordinadores-text2">
      <span>E-mail</span>
    </span>
    <span class="iniciodesesn-administradoresy-coordinadores-text4">
      <span>Contraseña</span>
    </span>
    <div class="iniciodesesn-administradoresy-coordinadores-frame11">
      <span class="iniciodesesn-administradoresy-coordinadores-text6">
        <span>LOG IN</span>
      </span>
    </div>
    
    <input
      type="text"
      placeholder="E-mail"
      class="iniciodesesn-administradoresy-coordinadores-textinput input"
    />
    <input
      type="text"
      placeholder="Contraseña"
      class="iniciodesesn-administradoresy-coordinadores-textinput1 input"
    />
    <img 
      src="./images/prepanetLogo.png"
      alt="prepanetremovebgpreview21181"
      class="iniciodesesn-administradoresy-coordinadores-prepanetremovebgpreview2"
    />
  </div>
</div>
