@page
@model prepanetWebApp.Pages.adminTalleresModel
@{
    ViewData["Title"] = "Table Coordinador";
}

<link href="./css/hojaAdmins.css" rel="stylesheet" />
<div>
    <div>
        <img src="./images/rectangle33561381-14-200h.png"
             alt="tiraSuperior"
             class="tiraSuperior" />

        <span class="textoNombreDeUsuario">
            <span>Nombre de usuario</span>
        </span>

        <img src="./images/perfil11381-dvdt-200h.png"
             alt="imgPerfil"
             class="imagenDePerfil" />

        <button class="boton-cerrarsesion">Cerrar sesión</button>

        <input type="text"
               placeholder="Escribe lo que necesites buscar"
               class="inputFiltro input" />

        <div class="textoTitulo">
            Consulta de talleres
        </div>

        <img src="./images/prepanetLogo.png"
             alt="logoPrepanet"
             class="logoPrepanet" />

        <div class="consultaAlumnosCard">

            <div class="dropdown">
                <button>Seleccionar campus</button>
                <div class="dropdown-content">
                    <a href="https://blog.hubspot.com/">Monterrey</a>
                    <a href="https://academy.hubspot.com/">Culiacán</a>
                    <a href="https://www.youtube.com/user/hubspot">CDMX</a>
                    <a href="https://www.youtube.com/user/hubspot">Guadalajara</a>
                </div>
            </div>

        </div>

        <span class="textoDeReporte">
            <span>Generar reporte:</span>
        </span>


    </div>



    <table class="styled-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Campus</th>
                <th>Descripción</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>

        </tbody>
    </table>
</div>
