@page
@model prepanetWebApp.Pages.coordinadorTalleresModel
@{
    ViewData["Title"] = "Table Coordinador";
}

<link href="./css/hojaCoordinadores.css" rel="stylesheet" />
<div>
    <div>
        <img src="./images/rectangle33561381-14-200h.png"
             alt="tiraSuperior"
             class="tiraSuperior" />

        <span class="textoNombreDeUsuario">
            <span>Nombre de usuario</span>
        </span>

        <img src="./images/perfil11381-dvdt-200h.png"
             alt="imgPerfil"
             class="imagenDePerfil" />

        <button class="boton-cerrarsesion">Cerrar sesión</button>


        <div class="textoTitulo">
            Consulta de talleres
        </div>

        <img src="./images/prepanetLogo.png"
             alt="logoPrepanet"
             class="logoPrepanet" />

        <div class="consultaAlumnosCard">

            <button class="boton-campus">Nombre de campus</button>

        </div>

        <span class="textoDeReporte">
            <span>Generar reporte:</span>
        </span>


    </div>



    <table class="styled-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Campus</th>
                <th>Descripción</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>

        </tbody>
    </table>
</div>
