.iniciodesesn-administradoresy-coordinadores-container {
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}

.iniciodesesn-administradoresy-coordinadores-text {
  top: 136px;
  left: 527px;
  color: rgba(79, 94, 228, 1);
  width: 559px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.iniciodesesn-administradoresy-coordinadores-text2 {
  top: 221px;
  left: 634px;
  color: rgba(79, 94, 228, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.iniciodesesn-administradoresy-coordinadores-text4 {
  top: 381px;
  left: 634px;
  color: rgba(79, 94, 228, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.iniciodesesn-administradoresy-coordinadores-frame11 {
  top: 525px;
  left: 511px;
  width: 627px;
  height: 76px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 10px 30px 0px rgba(122, 137, 254, 0.1);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(79, 94, 228, 1);
}

.iniciodesesn-administradoresy-coordinadores-text6 {
  top: 19px;
  left: 260px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.iniciodesesn-administradoresy-coordinadores-rectangle3356 {
  width: 420px;
  height: 100vh;
  position: absolute;
  left: 0;
}

.iniciodesesn-administradoresy-coordinadores-textinput {
  top: 258px;
  flex: 1;
  left: 515px;
  width: 615px;
  height: 57px;
  position: absolute;
  border: 0;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.iniciodesesn-administradoresy-coordinadores-textinput1 {
  top: 423px;
  flex: 1;
  left: 515px;
  width: 615px;
  height: 57px;
  position: absolute;
  border: 0;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.iniciodesesn-administradoresy-coordinadores-prepanetremovebgpreview2 {
  top: 303px;
  left: 67px;
  width: 298px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tiraSuperior {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  position: absolute;
  left: 0;
  border-color: transparent;
}

.textoNombreDeUsuario {
  top: 33px;
  color: rgba(255, 255, 255, 1);
  right: 70px;
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.imagenDePerfil {
  top: 33px;
  right: 280px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}

.boton-cerrarsesion {
  top: 33px;
  color: white;
  height: auto;
  position: absolute;
  background: none;
  border: none;
  right: 400px;
}

.boton-cerrarsesion:hover {
  text-decoration: underline;
}

.inputFiltro {
  top: 220px;
  flex: 1;
  right: 100px;
  width: 400px;
  height: 40px;
  position: absolute;
  border: 0;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.textoTitulo {
  text-align: center;
  position: relative;
  top: 145px;
  color: rgba(79, 94, 228, 1);
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-weight: 700;
}

.logoPrepanet {
  top: 33px;
  left: 36px;
  width: 140px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}

.consultaAlumnosCard {
  top: 180px;
  left: 56px;
  width: 249px;
  height: 52px;
  display: flex;
  padding: 28px;
  position: absolute;
}

.consultade-alumnos-coordinador-polygon67 {
  top: 13px;
  right: 21px;
  width: 35px;
  height: 33px;
  position: absolute;
}

.textoDeReporte {
  top: 120px;
  left: 59px;
  color: rgba(79, 94, 228, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}

.boton-campus {
  top: auto;
  margin: auto;
  z-index: 1;
  display: inline-block;
  position: relative;
}

.styled-table {
  width: 100%;
  top: 210px;
  position: relative;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #4f5ee4;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #4f5ee4;
}

.tiraSuperior {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  position: absolute;
  left: 0;
  border-color: transparent;
}

.textoNombreDeUsuario {
  top: 33px;
  color: rgba(255, 255, 255, 1);
  right: 70px;
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.imagenDePerfil {
  top: 33px;
  right: 280px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}

.boton-cerrarsesion {
  top: 33px;
  color: white;
  height: auto;
  position: absolute;
  background: none;
  border: none;
  right: 400px;
}

.boton-cerrarsesion:hover {
  text-decoration: underline;
}

.inputFiltro {
  top: 220px;
  flex: 1;
  right: 100px;
  width: 400px;
  height: 40px;
  position: absolute;
  border: 0;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.textoTitulo {
  text-align: center;
  position: relative;
  top: 145px;
  color: rgba(79, 94, 228, 1);
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-weight: 700;
}

.logoPrepanet {
  top: 33px;
  left: 36px;
  width: 140px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}

.consultaAlumnosCard {
  top: 180px;
  left: 56px;
  width: 249px;
  height: 52px;
  display: flex;
  padding: 28px;
  position: absolute;
}

.consultade-alumnos-coordinador-polygon67 {
  top: 13px;
  right: 21px;
  width: 35px;
  height: 33px;
  position: absolute;
}

.textoDeReporte {
  top: 120px;
  left: 59px;
  color: rgba(79, 94, 228, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}

.dropdown {
  top: auto;
  margin: auto;
  z-index: 1;
  display: inline-block;
  position: relative;
}

.dropdown-content {
  z-index: 1;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  z-index: 1;
  display: block;
  color: rgba(79, 94, 228, 1);
  background-color: rgba(255, 255, 255, 1);
}

.dropdown-content a {
  z-index: 1;
  display: block;
  color: rgba(79, 94, 228, 1);
  background-color: rgba(255, 255, 255, 1);
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  z-index: 1;
  color: #ffffff;
  background-color: rgba(79, 94, 228, 1);
}

.styled-table {
  width: 100%;
  top: 210px;
  position: relative;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #4f5ee4;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #4f5ee4;
}
